[SddmGreeterTheme]
Name=Debian Breeze
Description=Breeze Theme using Debian artwork
Description[fr]=Thème brise utilisant l’apparence Debian
Author=Adapted by the Debian Qt/KDE Team from the KDE Visual Design Group work
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Theme-Id=debian-breeze
Theme-API=2.0
